<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.ConnectionString"
            connectionString="Dsn=Contact;uid=contact;pwd=contact" providerName="System.Data.Odbc" />
        <add name="WindowsFormsApp2.Properties.Settings.i_collect_testConnectionString"
            connectionString="Data Source=newct;Initial Catalog=i_collect_test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>